---
rootdir: /srv/pgbackup/pg
warn-age:
  wal: 43200
  base: 691200
retention: 1814400
backups:
  stabile:
    snapshot:
  franck:
    dak:
  grieg:
    wanna-build:
      timeline: 3
  sibelius:
    2ndsnapshot:
